* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.hero_container {
  width: 100vw;
  height: 100%;
}
.hero_image {
  filter: brightness(50%);
  z-index: -1;
}
.hero_title {
  z-index: 99;
  color: white;
  font-family: "Manrope", sans-serif;
}
