* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}
.hero_container {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  /* position: relative; */
}
.hero_image {
  filter: brightness(25%);
  z-index: -1;
}
.hero_title {
  z-index: 99;
  font-size: 3rem;
  letter-spacing: 0.5px;
  margin-bottom: 0.2rem;

  font-family: "bebas neue", sans-serif;
  transition: 1s;
}
.voter_average_rating {
  padding-left: 2px;
  font-size: 1rem;
  font-family: "bebas neue", sans-serif;
}
.rating {
  display: flex;
  font-family: "bebas neue", sans-serif;
}
.info {
  width: 70vw;
  height: 50vh;
  padding: 3rem;
  color: white;

  flex-wrap: wrap;
}
.hero_about {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  transition: 1s;
}
.latest-section {
  width: 100vw;
  height: 100vh;
  position: relative;
}
@media screen and (max-width: 425px) {
  .hero_title {
    font-size: 2rem;
  }
  .info {
    max-width: 450px;
    max-height: 150px;
    padding: 1rem;
  }
  .hero_about {
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero_title {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
  .rating {
    font-size: 2rem;
    padding-right: 2px;
    font-weight: 500;
  }
  .voter_average_rating {
    font-family: bebas neue;
    font-size: 2rem;
  }
  .hero_btn {
    margin-top: 4px;
  }
}
