* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.latest-wrapper {
  width: 100vw;
  height: 200vh;
  background-color: #0e1014;
  padding: 0.5rem;
  z-index: -1;
  color: #fff;
  /* overflow: hidden; */
}
.cards {
  width: 90%;
  display: grid;
  gap: 1rem;
  height: auto;
  padding: 1rem;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 1rem;
}
.card {
  width: 12rem;
  height: 18rem;

  padding: 1.3rem 0.8rem;
  overflow: hidden;
  cursor: pointer;
}
.card-img {
  width: 100%;
  height: 90%;
  position: relative;
}
.latest_paragraph {
  margin-left: 2.2rem;
}
.latest_header {
  font-family: bebas neue;
}
.card-title {
  font-family: bebas neue;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.3rem;
}
.card-date {
  font-size: 10px;
}
.header-wrapper {
  width: 94%;
  height: 10vh;
  margin: 2rem 1rem;
  padding-inline: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  width: 8rem;
}
.hr {
  position: relative;
  top: 5rem;
  width: 94%;

  margin: auto;
}
@media screen and (max-width: 425px) {
  .latest_header {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .latest-p {
    font-size: 0.5rem;
  }
  .header-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-inline: 1rem;
  }
  .filters {
    width: 7rem;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin-left: 0;
    width: 95%;
    gap: 0;
  }
  .card {
    width: 7rem;
    height: 12em;
  }
  .card-date {
    font-size: 0.4rem;
  }
  .card-title {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 375px) {
  /* .card {
    width: 5rem;
    height: 11em;
  } */
}
@media screen and (min-width: 768px) {
  /* .cards {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin-left: 0;
    width: 95%;
    gap: 0;
  } */
  .card {
    width: 10rem;
    height: 13em;
  }

  /* h1 {
    font-size: 1rem;
  }

  .card-date {
    font-size: 6px;
  }
  .hr {
    left: 0rem;
    top: 0;
    margin-top: 3rem;
  }
  .latest-p {
    font-size: 0.3rem;
  }
  .cards_container {
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .latest_header {
    font-size: 3rem;
  }
  .latest-p {
    font-size: 1rem;
  }
  .card-title {
    font-size: 1.3rem;
    margin-top: 0.2rem;
  }
  .latest-wrapper {
    height: 150vh;
  }
  .header-wrapper {
    width: 90%;
  }
  .card-date {
    font-size: 0.5rem;
  } */
}
@media screen and (min-width: 1024px) {
  .latest-wrapper {
    height: 120vh;
  }
  .cards {
    width: 100%;
    padding: 0;
  }
  .card-title {
    font-size: 1.5rem;
  }
  .cards_container {
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 11rem;
    height: 14em;
  }
  .header-wrapper {
    width: 98%;
  }
  .card-date {
    font-size: 6px;
  }
  .card-title {
    font-size: 1.3rem;
    margin-top: 0.2rem;
  }
}
