
.search_wrapper {
  width: 100vw;
  height: auto;
  background-color: #0e1014;
  /* margin-bottom: 2rem; */
}
.search_header {
  width: 95vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
}
.search_header__header {
  font-family: bebas neue;
  font-size: 2rem;
  color: white;
}
.contain_btn {
  display: flex;
  gap: 0.5rem;
}

.result {
  width: 100vw;
  /* margin: 2rem 0; */
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 4rem;
  gap: 1rem;
  height: auto;
}
.card_details {
  color: white;
}
.result_card {
  width: 13rem;
  height: 20rem;
}
.no_result {
  width: 100%;
  height: 40vh;
  padding: 3rem;
  color: white;
}
.ref {
  margin-top: 2rem;
  color: white;
}
.ref_p {
  font-size: 12px;
}
.search_rating_container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.imdb_fill {
  width: 25px;
  height: 25px;
  position: relative;
  display: flex;
  gap: 1rem;
}
.search_body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_img {
  width: 100%;
  height: 90%;
  position: relative;
}
@media screen and (max-width: 430px) {
  .search_header {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
  }
  .search_header__header {
    font-family: bebas neue;
    font-size: 1.5rem;
    color: white;
    /* margin-top: 2.5rem; */
  }
  .search_img {
    height: 80%;
  }
  .ref {
    font-size: 1rem;
    text-align: center;
  }
  .ref_p {
    font-size: 0.5rem;
  }
  .no_result {
    padding: 3rem;
    width: 80vw;
    height: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 3rem;
  }
  .result {
    height: auto;
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .search_title {
    font-size: 12px;
    /* margin: 0; */
  }
  .imdb_fill {
    width: 15px;
    height: 15px;
  }
  .search_rating_container {
    gap: 0.1rem;
  }
  .search_average {
    font-size: 0.6rem;
  }
  .no_result_type {
    font-size: 1rem;
  }
  .result_card {
    margin-top: 0.5rem;
    width: 6rem;
    height: 10rem;
  }
}
@media screen and (min-width: 600px) {
  .no_result_type {
    font-size: 1rem;
  }
  .result {
    margin-bottom: 1rem;
  }
  .result_card {
    width: 9rem;
    height: 13rem;
    margin-top: 1rem;
  }

  .search_wrapper {
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  .result_card {
    width: 13rem;
    height: 20rem;
  }
  .search_average {
    font-size: 0.7rem;
  }
}
