* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#search {
  width: 8rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  margin: 10px 0;
}

.searchbar-wrapper {
  display: flex;
  gap: 0.2rem;
}
@media screen and (max-width: 425px) {
  .searchbar-wrapper {
    margin-top: 2rem;
  }
  #search {
    width: 10rem;
  }
}
