* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search-wrapper {
  width: 100vw;
  height: auto;
  background-color: #0e1014;
  /* margin-bottom: 2rem; */
}
.search_header {
  width: 95vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
}
.search-header__header {
  color: white;
}
.contain-btn {
  display: flex;
  gap: 0.5rem;
}
.btn-search {
  padding: 6px 8px;
}
.span_btn {
  font-size: 12px;
  font-weight: 400;
}
.result {
  width: 100vw;
  margin: 2rem 0;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card-details {
  color: white;
}
.no-result {
  width: 100%;
  height: 70vh;
  padding: 5rem;
  color: white;
}
.ref {
  /* width: 450px; */
  color: white;
}
.ref-p {
  font-size: 12px;
}
.search-rating-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.imdb-fill {
  width: 25px;
  height: 25px;
  position: relative;
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 425px) {
  .search_header {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
  }
  .search-header__header {
    font-size: 0.85rem;
  }
  .ref-p {
    font-size: 0.6rem;
  }
  .no-result {
    padding: 2rem;
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .result {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
  }
  .search-title {
    font-size: 12px;
    margin: 0;
  }
  .imdb-fill {
    width: 15px;
    height: 15px;
  }
  .search-rating-container {
    gap: 0.1rem;
  }
  .search-average {
    font-size: 0.6rem;
  }
}
