
#search {
  width: 10rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #15181d;
  margin: 10px 0;
  color: white;
}

.searchbar_wrapper {
  display: flex;
  gap: 0.2rem;
}
@media screen and (max-width: 430px) {
  .searchbar_wrapper {
    margin-top: 2rem;
  }
  #search {
    width: 15rem;
  }
}
