@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

.upcoming_wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e1014;
}
.content_container {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  place-items: center;
}
.img_content {
  width: 15rem;
  height: 15rem;
}
.img_content img {
  position: relative;
  height: 100%;
  width: 100%;
}
.content_h2 {
  color: white;
}
